:root {
  --shiki-dark-bg: #282c34;
  --shiki-dark: #abb2bf;
  --shiki-dark-gutter: #4b5263;
  --shiki-dark-caret: #fff;
}

pre {
  background: var(--shiki-dark-bg) !important;
  color: var(--shiki-dark) !important;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
}

code {
  font-family: var(--font-jetbrains-mono);
}
